Assignment1/framework/.main.cpp.swp
Assignment2/Assignment2/build/CMakeFiles/cmake.check_cache
Assignment2/Assignment2/build/CMakeFiles/CMakeDirectoryInformation.cmake
Assignment2/Assignment2/build/CMakeFiles/CMakeOutput.log
Assignment2/Assignment2/build/CMakeFiles/feature_tests.bin
Assignment2/Assignment2/build/CMakeFiles/feature_tests.c
Assignment2/Assignment2/build/CMakeFiles/feature_tests.cxx
Assignment2/Assignment2/build/CMakeFiles/Makefile.cmake
Assignment2/Assignment2/build/CMakeFiles/Makefile2
Assignment2/Assignment2/build/CMakeFiles/progress.marks
Assignment2/Assignment2/build/CMakeFiles/TargetDirectories.txt
Assignment2/Assignment2/build/CMakeFiles/3.10.2/CMakeCCompiler.cmake
Assignment2/Assignment2/build/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
Assignment2/Assignment2/build/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
Assignment2/Assignment2/build/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
Assignment2/Assignment2/build/CMakeFiles/3.10.2/CMakeSystem.cmake
Assignment2/Assignment2/build/CMakeFiles/3.10.2/CompilerIdC/a.out
Assignment2/Assignment2/build/CMakeFiles/3.10.2/CompilerIdC/CMakeCCompilerId.c
Assignment2/Assignment2/build/CMakeFiles/3.10.2/CompilerIdCXX/a.out
Assignment2/Assignment2/build/CMakeFiles/3.10.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
Assignment2/Assignment2/build/CMakeFiles/Rasterizer.dir/build.make
Assignment2/Assignment2/build/CMakeFiles/Rasterizer.dir/cmake_clean.cmake
Assignment2/Assignment2/build/CMakeFiles/Rasterizer.dir/CXX.includecache
Assignment2/Assignment2/build/CMakeFiles/Rasterizer.dir/depend.internal
Assignment2/Assignment2/build/CMakeFiles/Rasterizer.dir/depend.make
Assignment2/Assignment2/build/CMakeFiles/Rasterizer.dir/DependInfo.cmake
Assignment2/Assignment2/build/CMakeFiles/Rasterizer.dir/flags.make
Assignment2/Assignment2/build/CMakeFiles/Rasterizer.dir/link.txt
Assignment2/Assignment2/build/CMakeFiles/Rasterizer.dir/main.cpp.o
Assignment2/Assignment2/build/CMakeFiles/Rasterizer.dir/progress.make
Assignment2/Assignment2/build/CMakeFiles/Rasterizer.dir/rasterizer.cpp.o
Assignment2/Assignment2/build/CMakeFiles/Rasterizer.dir/Triangle.cpp.o
Assignment2/Assignment2/build/cmake_install.cmake
Assignment2/Assignment2/build/CMakeCache.txt
Assignment2/Assignment2/build/Makefile
Assignment2/Assignment2/build/Rasterizer
Assignment2/Assignment2/build/z_depth.txt
Assignment3/Code/cmake/cmake_install.cmake
Assignment3/Code/cmake/CMakeCache.txt
Assignment3/Code/cmake/Makefile
Assignment3/Code/cmake/output.png
Assignment3/Code/cmake/Rasterizer
Assignment3/Code/cmake/CMakeFiles/cmake.check_cache
Assignment3/Code/cmake/CMakeFiles/CMakeDirectoryInformation.cmake
Assignment3/Code/cmake/CMakeFiles/CMakeOutput.log
Assignment3/Code/cmake/CMakeFiles/feature_tests.bin
Assignment3/Code/cmake/CMakeFiles/feature_tests.c
Assignment3/Code/cmake/CMakeFiles/feature_tests.cxx
Assignment3/Code/cmake/CMakeFiles/Makefile.cmake
Assignment3/Code/cmake/CMakeFiles/Makefile2
Assignment3/Code/cmake/CMakeFiles/progress.marks
Assignment3/Code/cmake/CMakeFiles/TargetDirectories.txt
Assignment3/Code/cmake/CMakeFiles/3.10.2/CMakeCCompiler.cmake
Assignment3/Code/cmake/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
Assignment3/Code/cmake/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
Assignment3/Code/cmake/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
Assignment3/Code/cmake/CMakeFiles/3.10.2/CMakeSystem.cmake
Assignment3/Code/cmake/CMakeFiles/3.10.2/CompilerIdC/a.out
Assignment3/Code/cmake/CMakeFiles/3.10.2/CompilerIdC/CMakeCCompilerId.c
Assignment3/Code/cmake/CMakeFiles/3.10.2/CompilerIdCXX/a.out
Assignment3/Code/cmake/CMakeFiles/3.10.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
Assignment3/Code/cmake/CMakeFiles/Rasterizer.dir/build.make
Assignment3/Code/cmake/CMakeFiles/Rasterizer.dir/cmake_clean.cmake
Assignment3/Code/cmake/CMakeFiles/Rasterizer.dir/CXX.includecache
Assignment3/Code/cmake/CMakeFiles/Rasterizer.dir/depend.internal
Assignment3/Code/cmake/CMakeFiles/Rasterizer.dir/depend.make
Assignment3/Code/cmake/CMakeFiles/Rasterizer.dir/DependInfo.cmake
Assignment3/Code/cmake/CMakeFiles/Rasterizer.dir/flags.make
Assignment3/Code/cmake/CMakeFiles/Rasterizer.dir/link.txt
Assignment3/Code/cmake/CMakeFiles/Rasterizer.dir/main.cpp.o
Assignment3/Code/cmake/CMakeFiles/Rasterizer.dir/progress.make
Assignment3/Code/cmake/CMakeFiles/Rasterizer.dir/rasterizer.cpp.o
Assignment3/Code/cmake/CMakeFiles/Rasterizer.dir/Texture.cpp.o
Assignment3/Code/cmake/CMakeFiles/Rasterizer.dir/Triangle.cpp.o
Assignment3/Code/.vscode/c_cpp_properties.json
Assignment3/Code/.vscode/settings.json
Assignment2/Assignment2/build/output.png
Assignment4/code/build/CMakeFiles/cmake.check_cache
Assignment4/code/build/CMakeFiles/CMakeDirectoryInformation.cmake
Assignment4/code/build/CMakeFiles/CMakeOutput.log
Assignment4/code/build/CMakeFiles/feature_tests.bin
Assignment4/code/build/CMakeFiles/feature_tests.c
Assignment4/code/build/CMakeFiles/feature_tests.cxx
Assignment4/code/build/CMakeFiles/Makefile.cmake
Assignment4/code/build/CMakeFiles/Makefile2
Assignment4/code/build/CMakeFiles/progress.marks
Assignment4/code/build/CMakeFiles/TargetDirectories.txt
Assignment4/code/build/CMakeFiles/3.10.2/CMakeCCompiler.cmake
Assignment4/code/build/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
Assignment4/code/build/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
Assignment4/code/build/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
Assignment4/code/build/CMakeFiles/3.10.2/CMakeSystem.cmake
Assignment4/code/build/CMakeFiles/3.10.2/CompilerIdC/a.out
Assignment4/code/build/CMakeFiles/3.10.2/CompilerIdC/CMakeCCompilerId.c
Assignment4/code/build/CMakeFiles/3.10.2/CompilerIdCXX/a.out
Assignment4/code/build/CMakeFiles/3.10.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
Assignment4/code/build/CMakeFiles/BezierCurve.dir/build.make
Assignment4/code/build/CMakeFiles/BezierCurve.dir/cmake_clean.cmake
Assignment4/code/build/CMakeFiles/BezierCurve.dir/CXX.includecache
Assignment4/code/build/CMakeFiles/BezierCurve.dir/depend.internal
Assignment4/code/build/CMakeFiles/BezierCurve.dir/depend.make
Assignment4/code/build/CMakeFiles/BezierCurve.dir/DependInfo.cmake
Assignment4/code/build/CMakeFiles/BezierCurve.dir/flags.make
Assignment4/code/build/CMakeFiles/BezierCurve.dir/link.txt
Assignment4/code/build/CMakeFiles/BezierCurve.dir/main.cpp.o
Assignment4/code/build/CMakeFiles/BezierCurve.dir/progress.make
Assignment4/code/build/BezierCurve
Assignment4/code/build/cmake_install.cmake
Assignment4/code/build/CMakeCache.txt
Assignment4/code/build/Makefile
Assignment5/Code/build/cmake_install.cmake
Assignment5/Code/build/CMakeCache.txt
Assignment5/Code/build/Makefile
Assignment5/Code/build/RayTracing
Assignment5/Code/build/CMakeFiles/cmake.check_cache
Assignment5/Code/build/CMakeFiles/CMakeDirectoryInformation.cmake
Assignment5/Code/build/CMakeFiles/CMakeOutput.log
Assignment5/Code/build/CMakeFiles/feature_tests.bin
Assignment5/Code/build/CMakeFiles/feature_tests.c
Assignment5/Code/build/CMakeFiles/feature_tests.cxx
Assignment5/Code/build/CMakeFiles/Makefile.cmake
Assignment5/Code/build/CMakeFiles/Makefile2
Assignment5/Code/build/CMakeFiles/progress.marks
Assignment5/Code/build/CMakeFiles/TargetDirectories.txt
Assignment5/Code/build/CMakeFiles/3.10.2/CMakeCCompiler.cmake
Assignment5/Code/build/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
Assignment5/Code/build/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
Assignment5/Code/build/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
Assignment5/Code/build/CMakeFiles/3.10.2/CMakeSystem.cmake
Assignment5/Code/build/CMakeFiles/3.10.2/CompilerIdC/a.out
Assignment5/Code/build/CMakeFiles/3.10.2/CompilerIdC/CMakeCCompilerId.c
Assignment5/Code/build/CMakeFiles/3.10.2/CompilerIdCXX/a.out
Assignment5/Code/build/CMakeFiles/3.10.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
Assignment5/Code/build/CMakeFiles/RayTracing.dir/build.make
Assignment5/Code/build/CMakeFiles/RayTracing.dir/cmake_clean.cmake
Assignment5/Code/build/CMakeFiles/RayTracing.dir/CXX.includecache
Assignment5/Code/build/CMakeFiles/RayTracing.dir/depend.internal
Assignment5/Code/build/CMakeFiles/RayTracing.dir/depend.make
Assignment5/Code/build/CMakeFiles/RayTracing.dir/DependInfo.cmake
Assignment5/Code/build/CMakeFiles/RayTracing.dir/flags.make
Assignment5/Code/build/CMakeFiles/RayTracing.dir/link.txt
Assignment5/Code/build/CMakeFiles/RayTracing.dir/main.cpp.o
Assignment5/Code/build/CMakeFiles/RayTracing.dir/progress.make
Assignment5/Code/build/CMakeFiles/RayTracing.dir/Renderer.cpp.o
Assignment5/Code/build/CMakeFiles/RayTracing.dir/Scene.cpp.o
Assignment5/Code/.vscode/settings.json
Assignment5/Code/build/binary.ppm
Assignment6/Assignment6/build/binary.ppm
Assignment6/Assignment6/build/cmake_install.cmake
Assignment6/Assignment6/build/CMakeCache.txt
Assignment6/Assignment6/build/Makefile
Assignment6/Assignment6/build/RayTracing
Assignment6/Assignment6/build/CMakeFiles/cmake.check_cache
Assignment6/Assignment6/build/CMakeFiles/CMakeDirectoryInformation.cmake
Assignment6/Assignment6/build/CMakeFiles/CMakeOutput.log
Assignment6/Assignment6/build/CMakeFiles/feature_tests.bin
Assignment6/Assignment6/build/CMakeFiles/feature_tests.c
Assignment6/Assignment6/build/CMakeFiles/feature_tests.cxx
Assignment6/Assignment6/build/CMakeFiles/Makefile.cmake
Assignment6/Assignment6/build/CMakeFiles/Makefile2
Assignment6/Assignment6/build/CMakeFiles/progress.marks
Assignment6/Assignment6/build/CMakeFiles/TargetDirectories.txt
Assignment6/Assignment6/build/CMakeFiles/3.10.2/CMakeCCompiler.cmake
Assignment6/Assignment6/build/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
Assignment6/Assignment6/build/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
Assignment6/Assignment6/build/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
Assignment6/Assignment6/build/CMakeFiles/3.10.2/CMakeSystem.cmake
Assignment6/Assignment6/build/CMakeFiles/3.10.2/CompilerIdC/a.out
Assignment6/Assignment6/build/CMakeFiles/3.10.2/CompilerIdC/CMakeCCompilerId.c
Assignment6/Assignment6/build/CMakeFiles/3.10.2/CompilerIdCXX/a.out
Assignment6/Assignment6/build/CMakeFiles/3.10.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
Assignment6/Assignment6/build/CMakeFiles/RayTracing.dir/build.make
Assignment6/Assignment6/build/CMakeFiles/RayTracing.dir/BVH.cpp.o
Assignment6/Assignment6/build/CMakeFiles/RayTracing.dir/cmake_clean.cmake
Assignment6/Assignment6/build/CMakeFiles/RayTracing.dir/CXX.includecache
Assignment6/Assignment6/build/CMakeFiles/RayTracing.dir/depend.internal
Assignment6/Assignment6/build/CMakeFiles/RayTracing.dir/depend.make
Assignment6/Assignment6/build/CMakeFiles/RayTracing.dir/DependInfo.cmake
Assignment6/Assignment6/build/CMakeFiles/RayTracing.dir/flags.make
Assignment6/Assignment6/build/CMakeFiles/RayTracing.dir/link.txt
Assignment6/Assignment6/build/CMakeFiles/RayTracing.dir/main.cpp.o
Assignment6/Assignment6/build/CMakeFiles/RayTracing.dir/progress.make
Assignment6/Assignment6/build/CMakeFiles/RayTracing.dir/Renderer.cpp.o
Assignment6/Assignment6/build/CMakeFiles/RayTracing.dir/Scene.cpp.o
Assignment6/Assignment6/build/CMakeFiles/RayTracing.dir/Vector.cpp.o
Assignment5/Code/build/1.ppm
Assignment6/Assignment6/.vscode/settings.json
Assignment7/Assignment7/build/CMakeFiles/cmake.check_cache
Assignment7/Assignment7/build/CMakeFiles/CMakeDirectoryInformation.cmake
Assignment7/Assignment7/build/CMakeFiles/CMakeOutput.log
Assignment7/Assignment7/build/CMakeFiles/feature_tests.bin
Assignment7/Assignment7/build/CMakeFiles/feature_tests.c
Assignment7/Assignment7/build/CMakeFiles/feature_tests.cxx
Assignment7/Assignment7/build/CMakeFiles/Makefile.cmake
Assignment7/Assignment7/build/CMakeFiles/Makefile2
Assignment7/Assignment7/build/CMakeFiles/progress.marks
Assignment7/Assignment7/build/CMakeFiles/TargetDirectories.txt
Assignment7/Assignment7/build/CMakeFiles/3.10.2/CMakeCCompiler.cmake
Assignment7/Assignment7/build/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
Assignment7/Assignment7/build/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
Assignment7/Assignment7/build/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
Assignment7/Assignment7/build/CMakeFiles/3.10.2/CMakeSystem.cmake
Assignment7/Assignment7/build/CMakeFiles/3.10.2/CompilerIdC/a.out
Assignment7/Assignment7/build/CMakeFiles/3.10.2/CompilerIdC/CMakeCCompilerId.c
Assignment7/Assignment7/build/CMakeFiles/3.10.2/CompilerIdCXX/a.out
Assignment7/Assignment7/build/CMakeFiles/3.10.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
Assignment7/Assignment7/build/CMakeFiles/RayTracing.dir/build.make
Assignment7/Assignment7/build/CMakeFiles/RayTracing.dir/BVH.cpp.o
Assignment7/Assignment7/build/CMakeFiles/RayTracing.dir/cmake_clean.cmake
Assignment7/Assignment7/build/CMakeFiles/RayTracing.dir/CXX.includecache
Assignment7/Assignment7/build/CMakeFiles/RayTracing.dir/depend.internal
Assignment7/Assignment7/build/CMakeFiles/RayTracing.dir/depend.make
Assignment7/Assignment7/build/CMakeFiles/RayTracing.dir/DependInfo.cmake
Assignment7/Assignment7/build/CMakeFiles/RayTracing.dir/flags.make
Assignment7/Assignment7/build/CMakeFiles/RayTracing.dir/link.txt
Assignment7/Assignment7/build/CMakeFiles/RayTracing.dir/main.cpp.o
Assignment7/Assignment7/build/CMakeFiles/RayTracing.dir/progress.make
Assignment7/Assignment7/build/CMakeFiles/RayTracing.dir/Renderer.cpp.o
Assignment7/Assignment7/build/CMakeFiles/RayTracing.dir/Scene.cpp.o
Assignment7/Assignment7/build/CMakeFiles/RayTracing.dir/Vector.cpp.o
Assignment7/Assignment7/build/binary.ppm
Assignment7/Assignment7/build/cmake_install.cmake
Assignment7/Assignment7/build/CMakeCache.txt
Assignment7/Assignment7/build/Makefile
Assignment7/Assignment7/build/RayTracing
Assignment7/Assignment7/build/framebuffer.txt
