Assignment1/framework/.main.cpp.swp
Assignment2/Assignment2/build/CMakeFiles/cmake.check_cache
Assignment2/Assignment2/build/CMakeFiles/CMakeDirectoryInformation.cmake
Assignment2/Assignment2/build/CMakeFiles/CMakeOutput.log
Assignment2/Assignment2/build/CMakeFiles/feature_tests.bin
Assignment2/Assignment2/build/CMakeFiles/feature_tests.c
Assignment2/Assignment2/build/CMakeFiles/feature_tests.cxx
Assignment2/Assignment2/build/CMakeFiles/Makefile.cmake
Assignment2/Assignment2/build/CMakeFiles/Makefile2
Assignment2/Assignment2/build/CMakeFiles/progress.marks
Assignment2/Assignment2/build/CMakeFiles/TargetDirectories.txt
Assignment2/Assignment2/build/CMakeFiles/3.10.2/CMakeCCompiler.cmake
Assignment2/Assignment2/build/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
Assignment2/Assignment2/build/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
Assignment2/Assignment2/build/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
Assignment2/Assignment2/build/CMakeFiles/3.10.2/CMakeSystem.cmake
Assignment2/Assignment2/build/CMakeFiles/3.10.2/CompilerIdC/a.out
Assignment2/Assignment2/build/CMakeFiles/3.10.2/CompilerIdC/CMakeCCompilerId.c
Assignment2/Assignment2/build/CMakeFiles/3.10.2/CompilerIdCXX/a.out
Assignment2/Assignment2/build/CMakeFiles/3.10.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
Assignment2/Assignment2/build/CMakeFiles/Rasterizer.dir/build.make
Assignment2/Assignment2/build/CMakeFiles/Rasterizer.dir/cmake_clean.cmake
Assignment2/Assignment2/build/CMakeFiles/Rasterizer.dir/CXX.includecache
Assignment2/Assignment2/build/CMakeFiles/Rasterizer.dir/depend.internal
Assignment2/Assignment2/build/CMakeFiles/Rasterizer.dir/depend.make
Assignment2/Assignment2/build/CMakeFiles/Rasterizer.dir/DependInfo.cmake
Assignment2/Assignment2/build/CMakeFiles/Rasterizer.dir/flags.make
Assignment2/Assignment2/build/CMakeFiles/Rasterizer.dir/link.txt
Assignment2/Assignment2/build/CMakeFiles/Rasterizer.dir/main.cpp.o
Assignment2/Assignment2/build/CMakeFiles/Rasterizer.dir/progress.make
Assignment2/Assignment2/build/CMakeFiles/Rasterizer.dir/rasterizer.cpp.o
Assignment2/Assignment2/build/CMakeFiles/Rasterizer.dir/Triangle.cpp.o
Assignment2/Assignment2/build/cmake_install.cmake
Assignment2/Assignment2/build/CMakeCache.txt
Assignment2/Assignment2/build/Makefile
Assignment2/Assignment2/build/Rasterizer
Assignment2/Assignment2/build/z_depth.txt
